
[build]
target = "riscv32e-unknown-none-elf"

[target.'cfg(all(target_arch = "riscv32", target_os = "none"))']
runner = "wlink flash --enable-sdi-print --watch-serial"

# there is no RV32EmC target. build one using RV32E as a base.
[target."riscv32e-unknown-none-elf"]
rustflags = [
    "-C", "link-arg=-Tlink.x",
    "-C", "target-feature=+c",
    "-C", "target-feature=+zmmul",
    "-C", "target-feature=+xwchc",
    "-C", "target-feature=+zicsr",
    "-Z", "trap-unreachable=no",
    "-C", "no-vectorize-loops",
]

[unstable]
build-std = ["core"]
